body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', serif;
    background: #e3e9f7;
}

.dib-menu {
    background: #151f29;
}

.dib-menu ul {
    width: 100%;
}

.dib-menu ul li {
    width: 100%;
}

.dib-menu ul li a {
    font-family: 'montserrat', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #e3e9f7;
    transition: all 0.1s;
}

.dib-menu ul li a:hover,
.dib-menu ul li a.active {
    color: #151f29 !important;
    background-color: #e3e9f7 !important;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 0.5s;
}

.accordion {
    margin-top: 1em;
}

.severity-LOW { background-color: #5fbb3160; }
.severity-LOW .severity { background-color: #5fbb31; }

.severity-MEDIUM { background-color: #e9c60060; }
.severity-MEDIUM .severity { background-color: #e9c600; }

.severity-HIGH { background-color: #ff880060; }
.severity-HIGH .severity { background-color: #ff8800; }

.severity-CRITICAL { background-color: #e4000060; }
.severity-CRITICAL .severity { background-color: #e40000; }

.severity-UNKNOWN { background-color: #74747460; }
.severity-UNKNOWN .severity { background-color: #747474; }
