body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', serif;
    background: #e3e9f7;
}

.logo {
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151f29;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-family: 'montserrat', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    position: relative;
    padding: 15px 0 15px 25px;
    transition: all 0.5s;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #e3e9f7;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 1s;
}

nav ul li a:hover {
    color: #151f29;
}

nav ul li a:hover:before {
    width: 95%;
}

.wrapper {
    margin-left: 260px;
    padding: 2em;
}

.section {
    min-height: 100vh;
}
