---
name: QA
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize]
    paths:
      - ".github/workflows/qa.yml"
      - "go.*"
      - "**.go"
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-24.04-arm
    env:
      # renovate: datasource=github-releases depName=radiofrance/lint-config
      LINT_CONFIG_VERSION: v1.1.1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
      - name: Download golangci-lint config file
        run: curl -o .golangci.yml https://raw.githubusercontent.com/radiofrance/lint-config/${{ env.LINT_CONFIG_VERSION }}/.golangci.yml
      - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          # renovate: datasource=github-releases depName=golangci/golangci-lint
          version: v2.6.2

  tests:
    name: Run tests
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
      - uses: tlylt/install-graphviz@b2201200d85f06f0189cb74d9b69208504cf12cd # v1.0.0
      - run: go test -v -race -covermode=atomic -coverprofile=coverage.out ./...
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-results
          path: coverage.out
          retention-days: 1

  codecov:
    name: Upload coverage to Codecov
    needs: [tests]
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage-results
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
