---
name: Actions security
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize]
    paths: [.github/workflows/**]

jobs:
  # Actions security tries to keep your GitHub actions secure by following these simple rules:
  # - Check if no issues are found on your GitHub Actions
  # - Ensure that all GitHub Actions and reusable workflow are pinned using directly a commit SHA
  actions_security:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Github Actions lint
        run: |
          curl -O https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@40e45e738b3cad2729f599d8afc6ed02184e1dbd # v3.0.5
