---
name: Actions security
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize]
    paths: [.github/workflows/**]

jobs:
  # Actions security tries to keep your GitHub actions secure by following these simple rules:
  # - Check if no issues are found on your GitHub Actions
  # - Ensure that all GitHub Actions and reusable workflow are pinned using directly a commit SHA
  actions_security:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Github Actions lint
        run: |
          curl -O https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@b8f9a25a51fe633d9215ac7734854dc11cd299cb # v3.0.13
